<h1>投稿を編集</h1>

<%= form_with model: @blog, local: true do |f| %>
  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "更新" %>
  </p>

  <p>
    <%= f.submit "削除" %>
  </p>
<% end %>

<%= link_to '戻る', authenticated_root_path %>
