<h2>診断結果</h2>

<p>総合スコア：<%= @sleep_check.total_score %> 点</p>

<h3> リズム：<%= @sleep_check.rhythm_score %> 点</h3>
<h3> 質：<%= @sleep_check.quality_score %> 点</h3>
<h3> 量：<%= @sleep_check.quantity_score %> 点</h3>

<p>睡眠の質：<%= @sleep_check.quality %></p>
<p>アドバイス：<%= @sleep_check.note %></p>
