<h2>診断結果</h2>
<p>あなたの総合スコア：<%= @sleep_check.score %> 点</p>
<p>リズム：<%= @sleep_check.rhythm %></p>
<p>睡眠の質：<%= @sleep_check.quality %></p>
<p>量：<%= @sleep_check.quantity %></p>
<p>アドバイス：<%= @sleep_check.note %></p>






